# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/

# Flask stuff:
instance/
.webassets-cache

#venv
QFlask/

# Development
*.db
.idea

#VS Code
.vscode
