{% extends 'base.html' %}

{% block content %}
<div class="left" style="margin: 7rem;" data-id="{{circuit.id}}"
    data-href="{{ url_for('.edit_circuit', item_id=circuit.id) }}">
    <h3 style="text-align: center;">{{circuit.name}} Playground</h3>

    <div class='Q-circuit-palette'></div>
    <div id="playground"></div>
    <textarea class="Q-circuit-text-input" id="playground-input">{{circuit.body}}</textarea>
    <p>
        <button class="Q-button" id="playground-apply-button" type="button" onclick="updatePlaygroundFromText()">
            Apply
        </button>
        <button class="Q-button" id="playground-save-button" type="button">
            Save
        </button>
        <br><br>
    </p>
    <br>
    <p>
        Type, paste, or edit your circuit here.
        Then tap “Apply” to
        generate an interactive circuit diagram
        and other output formats below.
        You can learn more about Q’s plain text format
        in <a href="Q-Circuit.html#Writing_quantum_circuits">“Writing quantum circuits.”</a>
        <br>
        Tap "Save" to save the code
        and generate updated 3rd party codes below.
    </p>
    <br><br>
    <ul class="tabs tabs-fixed-width tab-demo z-depth-1" id="local-sims">
        <li class="tab"><a class="active" href="#Qiskit">Qiskit</a></li>
        <li class="tab"><a href="#Cirq">Cirq</a></li>
        <li class="tab"><a href="#QSharp">Q#</a></li>
        <li class="tab"><a href="#Braket">Braket</a></li>
        <li class="tab"><a href="#PyQuil">PyQuil</a></li>
        <li class="tab"><a href="#Tensor">Tensorflow</a></li>
        <li class="tab"><a href="#QASM">QASM</a></li>
    </ul>
    <div id="rawQASM" style="display:none;">{{qasmCir}}</div>
    <div id="Qiskit" class="col s12">
        <pre><code data-language="python" class="python"></code></pre>
        <button class="Q-button tooltipped" id="playground-Run-button" data-position="bottom"
            data-tooltip="Run Qiskit locally" type="button">
            Run
        </button>
        <button class="copy btn tooltipped" onclick="copyToClipboard()" data-position="bottom" data-tooltip="Copy"
            type="button">Copy to Clipboard</button>
    </div>
    <div id="Cirq" class="col s12">
        <pre><code data-language="python" class="python"></code></pre>
        <button class="Q-button tooltipped" id="playground-Run-button" data-position="bottom"
            data-tooltip="Run Cirq locally" type="button">
            Run
        </button>
        <button class="copy btn tooltipped" onclick="copyToClipboard()" data-position="bottom" data-tooltip="Copy"
            type="button">Copy to Clipboard</button>
    </div>
    <div id="QSharp" class="col s12">
        <pre><code data-language="python" class="python"></code></pre>
        <button class="Q-button tooltipped" id="playground-Run-button" data-position="bottom"
            data-tooltip="Run QSharp locally" type="button">
            Run
        </button>
        <button class="copy btn tooltipped" onclick="copyToClipboard()" data-position="bottom" data-tooltip="Copy"
            type="button">Copy to Clipboard</button>
    </div>
    <div id="Braket" class="col s12">
        <pre><code data-language="python" class="python"></code></pre>
        <button class="Q-button tooltipped" id="playground-Run-button" data-position="bottom"
            data-tooltip="Run Braket locally" type="button">
            Run
        </button>
        <button class="copy btn tooltipped" onclick="copyToClipboard()" data-position="bottom" data-tooltip="Copy"
            type="button">Copy to Clipboard</button>
    </div>
    <div id="PyQuil" class="col s12">
        <pre><code data-language="python" class="python"></code></pre>
        <button class="Q-button tooltipped" id="playground-Run-button" data-position="bottom"
            data-tooltip="Run PyQuil locally" type="button">
            Run
        </button>
        <button class="copy btn tooltipped" onclick="copyToClipboard()" data-position="bottom" data-tooltip="Copy"
            type="button">Copy to Clipboard</button>
    </div>
    <div id="Tensor" class="col s12">
        <pre><code data-language="python" class="python"></code></pre>
        <button class="Q-button tooltipped" id="playground-Run-button" data-position="bottom"
            data-tooltip="Run Tensor locally" type="button">
            Run
        </button>
        <button class="copy btn tooltipped" onclick="copyToClipboard()" data-position="bottom" data-tooltip="Copy"
            type="button">Copy to Clipboard</button>
    </div>
    <div id="QASM" class="col s12">
        <pre><code data-language="python" class="python"></code></pre>
        <button class="Q-button tooltipped" id="playground-Run-button" data-position="bottom"
            data-tooltip="Run QASM locally" type="button">
            Run
        </button>
        <button class="copy btn tooltipped" onclick="copyToClipboard()" data-position="bottom" data-tooltip="Copy"
            type="button">Copy to Clipboard</button>
    </div>
    </main>
    <script>
        window.circuitConversion = () => {

            //Initialising QuantumCircuit
            var circuit = new QuantumCircuit()
            var rawQASMCirc = document.querySelector("#rawQASM").innerText
            circuit.importQASM(rawQASMCirc, function (errors) {
                if (errors) console.log(errors);
            });

            //Conversion of the circuits
            var qiskitCir = circuit.exportQiskit("", false, null, null);
            var cirqCir = circuit.exportCirq("", false, null, null);
            var qsharpCir = circuit.exportQSharp("", false, null, null, false, null);
            var braketCir = circuit.exportBraket("", false, null, null, false, null, null, null)
            var pyquilCir = circuit.exportPyquil("", false, null, "2.1", "", false);
            var tfqCir = circuit.exportTFQ("", false, null, 0.2, false, 1024);
            var qasmCir = circuit.exportQASM("", false);

            //Update the tabs
            document.querySelector("#Qiskit > pre > code").innerHTML = qiskitCir
            document.querySelector("#Cirq > pre > code").innerText = cirqCir
            document.querySelector("#QSharp > pre > code").innerText = qsharpCir
            document.querySelector("#Braket > pre > code").innerText = braketCir
            document.querySelector("#PyQuil > pre > code").innerText = pyquilCir
            document.querySelector("#Tensor > pre > code").innerText = tfqCir
            document.querySelector("#QASM > pre > code").innerText = qasmCir
            hljs.initHighlighting()
        }
        circuitConversion()

        function copyToClipboard() {
            var localsim = document.querySelector("#local-sims .active").href.match("\#[A-z]*")[0]
            /* Get the text field */
            var copyText = document.querySelector(localsim + " pre code").innerText

            try {
                navigator.clipboard.writeText(copyText);
                var tooltip = document.querySelector(localsim + " .copy")
                tooltip.innerText = "Copied"
            } catch (error) {
                console.error("copy failed", error);
            }
        }

        //  Let’s place circuit palettes
        //  inside anything with the class 'Q-circuit-palette'.
        document.querySelector('main').style.maxWidth = '80%';

        Array
            .from(document.querySelectorAll('.Q-circuit-palette'))
            .forEach(function (el) {

                Q.Circuit.Editor.createPalette(el)
            })




        //  Hook up our input text field and “Apply” button.

        function applyButtonActivated() {

            const button = document.getElementById('playground-apply-button')
            if (button && button.getAttribute('disabled') === null) {
                circuitConversion()
                updatePlaygroundFromText()
            }
        }

        let playgroundInputText = ''

        function hasTextInputUpdated() {

            const
                input = document.getElementById('playground-input').value
            button = document.getElementById('playground-apply-button')

            if (input === playgroundInputText) {

                button.setAttribute('disabled', 'disabled')
            } else button.removeAttribute('disabled')
        }




        //  When our user edits the plain text input
        //  we want to update our interactive circuit
        //  and exported code accordingly.

        function updatePlaygroundFromText() {

            const text = document.getElementById('playground-input').value
            if (text !== playgroundInputText) {

                playgroundInputText = text
                // document.getElementById('playground-apply-button').setAttribute('disabled', 'disabled')

                const circuit = Q(text)
                if (circuit instanceof Q.Circuit) { //+++++  This validation appears broken!

                    circuit.name = 'playground'
                    const domEl = document.getElementById('playground')
                    if (domEl) {

                        while (domEl.lastChild) {

                            domEl.removeChild(domEl.lastChild)
                        }
                        circuit.sort$() //  Is this still necessary??
                        circuit.toDom(domEl)
                    }
                    // circuit.evaluate$()
                } else {

                    updateCircuitParts(Q `I`)
                    console.log('There’s an error in your circuit!!')
                }
            }
            circuitConversion()
            hljs.initHighlighting()
        }


        //  When our user edits the interactive circuit
        //  we want to update 

        function updatePlaygroundFromDom(circuit) {

            const inputEl = document.getElementById(circuit.name + '-input')
            if (inputEl) {

                const text = circuit.toText().substr(1)
                inputEl.value = text
                // circuit.evaluate$()
                // updateCircuitParts( circuit )
                playgroundInputText = text
            }
        }


        //  Update all the export code and probabilities report.

        function updateCircuitParts(circuit) {

            // const braketEl = document.getElementById( circuit.name +'-braket' )
            // if( braketEl ) braketEl.innerText = '\n'+ circuit.toAmazonBraket( true )

            const latexEl = document.getElementById(circuit.name + '-latex')
            if (latexEl) latexEl.innerText = '\n' + circuit.toLatex(true)

            const diagramEl = document.getElementById(circuit.name + '-diagram')
            if (diagramEl) diagramEl.innerText = circuit.toDiagram(true)

            const textEl = document.getElementById(circuit.name + '-text')
            if (textEl) textEl.innerText = circuit.toText()

            const reportEl = document.getElementById(circuit.name + '-report')
            if (reportEl) reportEl.innerText = circuit.report$()
        }



        window.addEventListener('DOMContentLoaded', function () {
            updatePlaygroundFromText()
            setInterval(hasTextInputUpdated, 100)
        })

        //  EVALUATION.

        window.addEventListener('Q.Circuit.evaluate began', function (event) {

            console.log(

                '\n\nBeginning evaluation for “' + event.detail.circuit.name + '”\n' +
                event.detail.circuit.toDiagram() + '\n\n'
            )
        })
        window.addEventListener('Q.Circuit.evaluate progressed', function (event) {

            const
                length = 20,
                percent = Math.round(event.detail.progress * 100),
                percentText = ('' + percent).padStart(3) + '%',
                barLength = Math.round(length * event.detail.progress),
                barComplete = ''.padStart(barLength, '█'),
                barRemaining = ''.padStart(length - barLength, '░'),
                opsTotal = event.detail.operationsTotal,
                opsCompleted = ('' + event.detail.operationsCompleted).padStart(Math.log(opsTotal) * Math
                    .LOG10E +
                    1 |
                    0, ' ')

            console.log(

                barComplete +
                barRemaining + ' ' +
                percentText + '   ' +
                opsCompleted + ' of ' +
                opsTotal
            )


            //  What’s the actual state of the circuit at this moment?
            //  We should come back and do a cool animated version of this data :)

            const state = event.detail.state
            // console.log( 'state width', state.getWidth(), 'state height', state.getHeight() )
            // console.log( 'state', state.toTsv() )
        })
        window.addEventListener('Q.Circuit.evaluate completed', function (event) {

            console.log(

                '\nEvaluation completed for “' + event.detail.circuit.name + '”' +
                '\nwith these results:\n' + event.detail.circuit.report$() + '\n\n\n'
            )

            const
                circuit = event.detail.circuit,
                reportEl = document.getElementById(circuit.name + '-report')

            //if( reportEl ) reportEl.innerText = circuit.report$()
            updateCircuitParts(circuit)
        })
        window.addEventListener('Q gui altered circuit', function (event) {

            updatePlaygroundFromDom(event.detail.circuit)
        })
    </script>
</div>
{% endblock %}